.top{
      display: flex;
      flex-direction: column;
     
      align-items: center;
}


.bottom{
      display: flex;
}

.experience{
      display: flex;
      flex-direction: column;
}

.experienceList{
      list-style-type:disc;
      
}
.experienceList li{
      flex-wrap: wrap;
      
}